@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{
    margin: 0 auto;
    padding: 0;
    background-color: black;
    background:url(imagenes/img1.jpg) no-repeat;
    background-size: cover;
}
header nav{
    width: 100%;
    background-color: black;
    height: 50px;
    text-align: center;
    padding-top: 2%;
}
header nav a{
    text-decoration: none;
    color: white;
    width: 10%;
    padding: 10%;
    margin-top: 5%;
    font-size: 1.25em;
}
.enlaceInsertar{
    text-decoration: none;
    font-size: 1.5em;
    color: blue;
    margin-left: 5%;
}
.enlaceVolver{
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    margin-left: 5%;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}

#form{
    float: right;
    width: 35%;
    margin: 10px auto;
    margin-top: 100px;
    font-size: 21px;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
    padding: 1%;
}
.tabla{
    float: left;
    width: 50%;
    margin: 10x auto;
}
#enlaceAdmin {
    text-decoration: none;
    color:red;
    font-size: 20px;
    float: right;
    margin: 20px ;
}
#enlaceAdmin a{
    color:red;
    text-decoration: none;
}
body {font-family: Arial, Helvetica, sans-serif;}

table {    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;  
    margin: 45px;   
    width: 480px;
    text-align: left;  
    border-collapse: collapse; 
    margin: 0 auto;
}

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
         border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
        color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

.tabla h1, .tabla h2, .tabla h3, .tabla h4{
    margin-left: 50px;
}
input[type="text"]{
    width:83%;
    margin-top:10px;
    height:25px;
    margin-bottom: 15px;
    padding:10px;
    border:3px solid #2BC1F2;
}
input[type="number"]{
    width:83%;
    margin-top:10px;
    height:25px;
    margin-bottom: 15px;
    padding:10px;
    border:3px solid #2BC1F2;
}
input[type="date"]{
    width:83%;
    margin-top:10px;
    height:25px;
    margin-bottom: 15px;
    padding:10px;
    border:3px solid #2BC1F2;
}
input[type="datetime"]{
    width:83%;
    margin-top:10px;
    height:25px;
    margin-bottom: 15px;
    padding:10px;
    border:3px solid #2BC1F2;
}
input[type="submit"]{
    width:83%;
    padding: 10px 45px;
    background-color: #2BC1F2;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
.p-container input{
    width:90%;
    margin-left: 5px;
    padding: 5px 23px;
    background-color: #2BC1F2;
    text-align: center;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
.caja {
   margin:20px auto 40px auto;	
   border:1px solid #d9d9d9;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background: white;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
   color:black;
   
}
select:focus{ outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}
label{
    float: left;
    font-size: 16px;
    margin-top: 5px;
    color:white;
}


div#main{
    width: 830px;
    height: 650px;
    margin: 0px auto;
    font-family: 'Ubuntu', sans-serif;
}

div#form_sample{
    text-align:center;
    background-color: black;
    border: 1px solid #ccc;
    width: 300px;
    padding: 0px 50px 15px;
    margin-top:20px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    float:left;
}

#main h1{
    margin-top:40px;
}

hr{
    margin-top:-5px;
}
.NoDisponible {
    color:white;
}
#nodispo{
    background-color: black;
    border: 2px solid white;
    width: 50%;
    margin: 50px auto;
    padding: 10px 25px;
    border-radius: 10px;
}
.volverVehiculos a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 50px auto;
    font-size: 1.25em;
}
.volverVehiculos{
    margin-left: 100px;
}
/*
.datagrid table { 
    border-collapse: collapse; 
    text-align: left;
    width: 100%;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden; 
    border: 1px solid #006699; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.datagrid table td, .datagrid table th { 
    padding: 3px 10px;
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699;
    color:#FFFFFF; 
    font-size: 15px;
    font-weight: bold; 
    border-left: 1px solid #0070A8; 
} 
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td { 
    color: #00496B;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}
.datagrid table tbody .alt td {
    background: #E1EEF4;
    color: #00496B; 
}
.datagrid table tbody td:first-child { 
    border-left: none; 
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.datagrid table tfoot td div { 
    border-top: 1px solid #006699;
    background: #E1EEF4;
}
.datagrid table tfoot td { 
    padding: 0; 
    font-size: 12px; 
} 
.datagrid table tfoot td div{
    padding: 2px;
}
.datagrid table tfoot td ul { 
    margin: 0;
    padding:0; 
    list-style: none;
    text-align: right; 
}
.datagrid table tfoot  li { 
    display: inline;
}
.datagrid table tfoot li a { 
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699;
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
    text-decoration: none;
    border-color: #006699; 
    color: #FFFFFF;
    background: none; 
    background-color:#00557F;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
    position: fixed !important; 
}*/